// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Lato');

// Color Variables
$primary-color: #3E50B4;
$accent-color: #FF3F80;

// Font Variables
$julius: 'Julius Sans One', sans serif;
$lato: 'Lato', sans serif;


#header {
  min-height: 37px;
  background-color: $primary-color;
}

#header p, input {
  display: inline-block;
}

#header input {
  float: right;
}

#map-display {
  min-height: 285px;
  background-image: url("/images/map_image.png");
  background-size: cover;
  background-position: center;
}

button {
  color: white;
  border-radius: 5px;
  background-color: none;
  border-color: white;
}

#data-display {
  padding: 25px;
  min-height: 300px;
  background-color: $accent-color;
}

.btn-primary {
  background-color: $accent-color;
  border-color: $accent-color;
}

.attr{
  height: 50px;
  border: 1px solid white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: $primary-color;
}

.list_icon {
  width: 33%;
  display: inline;
}

.list_desc {
  width: 67%;
  display: inline;
}

#nav {
  height: 50px;
  background-color: $primary-color;
}

.icon {
  display: inline-block;
  background-color: $accent-color;
}
